/* Source: https://www.yelp.com/styleguide */

// Text colors
$normal-text: #333333;
$error-text: #d32323;
$green: #41a700;

.hours {
    td {
      padding: 2px 4px;
    }
    .dayOfWeek {
      font-weight: 700;
    }

    .hoursOpen {
      font-weight: 500;
    }
}

.isOpen-true {
  font-size: 12px;
  font-weight: 700;
  color: $green;
}

.isOpen-false {
  font-size: 12px;
  font-weight: 700;
  color: $error-text;
}