// Source: https://www.yelp.com/styleguide

// Text colors
$normal-text: #333;
$error-text: #d32323;
$green: #41a700;

.hours {
  td {
    padding: 2px 4px;
  }

  .day-of-week {
    font-weight: 700;
  }

  .hours-open {
    font-weight: 500;
  }
}

.is-open-true {
  color: $green;
  font-size: 12px;
  font-weight: 700;
}

.is-open-false {
  color: $error-text;
  font-size: 12px;
  font-weight: 700;
}
