// Source: https://www.yelp.com/styleguide

// Text colors
$normal-text: #333;
$link-color: #0073bb;

.menu-preview {
  h4 {
    color: $link-color;
    font-weight: 700;
    line-height: 0;
    &:link { text-decoration: none; }
    &:visited { text-decoration: none; }
    &:hover { text-decoration: underline; }
    &:active { text-decoration: underline; }
  }

  .img-small {
    border-radius: 4px;
    height: 50px;
    width: 50px;
    &:hover { opacity: .5; }
  }

  .full-menu {
    color: $link-color;
    font-size: 12px;
    font-weight: 500;
    &:hover { text-decoration: underline; }
  }
}

.menu-single-item {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;

  .img-large {
    height: 100%;
    width: 67%;
  }

  .text-box {
    height: 100%;
    width: 33%;

    h3 {
      color: $normal-text;
      margin: 20px;
    }

    p {
      color: $normal-text;
      margin: 20px;
    }
  }


}

.menu-list {
  display: flex;
  flex-direction: column;

  h3 {
    margin: 20px;
  }

  .menu-item-container {
    display: flex;
    height: 85px;

    .img-medium {
      border-radius: 4px;
      height: 75px;
      margin: 5px 20px;
      width: 75px;
    }

    .text-box-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-right: 20px;

      h4 {
        color: $normal-text;
        font-weight: 700;
        &:hover { text-decoration: none; }
        &:active { text-decoration: none; }
      }
    }
  }
}
