// Styles from: https://daveceddia.com/open-modal-in-react/

$backdrop-color: rgba(0, 0, 0, .3);

// The gray background
.backdrop {
  background-color: $backdrop-color;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  left: 0;
  padding: 100px;
  position: fixed;
  right: 0;
  top: 0;
}

// The modal "window"
.modal {
  display: flex;
  justify-content: flex-start;
  max-height: 80%;
  max-width: 60%;
}
