/* Source: https://www.yelp.com/styleguide */

// Background and border colors
$background-color: #f5f5f5;
$medium-background-color: #e6e6e6;
$border-color: #cccccc;
$light-border-color: #e6e6e6;
$ad-border-color: #ebc074;

// Text colors
$normal-text: #333333;
$error-text: #d32323;
$green: #41a700;

.summary {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  background-color: $background-color;
  border: 1px solid $border-color;

  .today {
    height: 36px;
    div {
      margin-top: 4px;
    }
  }

  .full-menu {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid $border-color ;
    border-bottom: 1px solid $border-color ;
  }

  dl {
    padding: 0px;
    margin: 0px;
  }

  dt {
    display: inline;
  }

  dd {
    display: inline;
    margin-left: 10px;
    font-weight: 700;
  }
}